<div class="col-md-12">
  <%= link_to 'Update Album', user_albums_fetch_path(current_user.id)%>
</div>

<div class="col-md-3">
  <%debugger%>
  <div class="height-width"> 
    <%= image_tag current_user.image, class: 'img-thumbnail'%>
  </div>  
</div>