@import "bootstrap-sprockets";
@import "bootstrap";



.body{  
  
}
.back-color {
  
}
.min-height {
   min-height: 500px;
}
.orange-color {
  color: #f95411;
}
.navbar-default{
  background-color: #0088dd; 
}
.navbar-default .navbar-brand{
  color: white;
}
.height-width{
  height:160px ;
  width:160px ;
}
