@import "bootstrap-sprockets";
@import "bootstrap";



.body{
  background-color: #576067;
  color: #ebded9;
}
.back-color {
  background-color: #5e5d66;
}
.min-height {
   min-height: 500px;
}
.orange-color {
  color: #f95411;
}
.single-txt{
  background: #58565d;
}